
#containerSlider
{
        margin: auto;
        width: 90%;
        text-align: center;
        padding-top: 100px;
        box-sizing: border-box;
    }
    #containerSlider img
    {
        width: 100%;
        height: 140%;
        text-align: center;
        align-content: center;
    }
    #containerSlider2
{
        margin: auto;
        width: 90%;
        text-align: center;
        padding: 2rem 0rem;
        box-sizing: border-box;
    }
    #containerSlider2 img
    {
        width: 100%;
        height: 140%;
        text-align: center;
        align-content: center;
    }
#badge
{
position: absolute;
background-color: rgb(255, 30, 30);
color: rgb(0, 0, 0);
border-radius: 50%;
padding: 5px 8px;
font-size: 14px;
top: 10px;
right:158px;
}

.getStarted{
    display: flex;
    justify-content: center;
    margin: 4rem auto;
}

.banner-img {
    width: 90%;
    height: auto;
    margin: auto;
    filter: grayscale(2);
}
.main-hero{
    width: 90%;
    margin: 2rem  auto;
}
.exclusive-item{
    display: flex;
    justify-content: space-between;
    background-color:  rgb(209, 209, 209) !important;
}
.item1 {
    padding: 5px;
    width: 30%;
}
.item2 {
    padding: 5px;
    width: 30%;
}
.item3 {
    padding: 5px;
    width: 30%;
}

.card-ecommerce {
    border: black 1px solid;
    margin: 3rem;
}
.button-container {
    width: 11%;
    margin: auto;
}
.btn-primary{
    background-color: white;
    color: rgb(0, 0, 0);
    padding: 1rem 2rem;
    border: 2px solid rgb(0, 0, 0);
}
.btn-primary:hover{
    padding: 1rem 2rem;
    color: white;
    background-color: rgb(0, 0, 0);
}
.banner-img:hover {
    filter: grayscale(0);
    transition: 1s;
}
#slidingImage-3{
    margin-top: -6rem;
    margin-bottom: 2rem ;
}






/* ----------------------------- MEDIA QUERY --------------------------- */

@media(max-width: 1300px)
{
    #collection
    {
        font-size: 13px;
    }
    #input 
    {
        width: 20rem;
    }
}
@media(max-width: 930px)
{
    .exclusive-item{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color:  rgb(209, 209, 209) !important;
        
    }
    .card-ecommerce {
        margin: 1rem;
    }

    #collection
    {
        display: none;
        
    }
    .drawerView{
        display: block;
        top: -.6rem;
        right:1rem;
    }
    #input 
    {
        display: none;
    }
    #search {
        display: none;
    }
    
}

@media(max-width: 750px)
{
    #shopName
    {
        font-size: 28px;
    }
    .drawerView{
        top: -1.3rem;
        right:1rem;
    }
    .userIcon
    {
        font-size: 35px;
    }
    .addedToCart
    {
        font-size: 1.2em;
        margin: 10px 20px;
    }
    #input {
        width: 16rem;
    }
}

@media(max-width: 650px)
{
    #shopName
    {
        font-size: 24px;
    }
    #collection
    {
        font-size: 10px;
    }
    #input {
        width: 5rem;
    }
} 
@media(max-width: 732px)
        {
            #containerSlider img
            {
                height: 12em;
            }
        }
        @media(max-width: 500px)
        {
            #containerSlider img
            {
                height: 10em;
            }
        }